@import "variables";

.menu {
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 60px;
  }

  li {
    text-transform: uppercase;
    font-size: 28px;

    &:hover {
      color: var(--primary-color-hover);
      cursor: pointer;
    }
  }

  display: column;
  @include defaultBox(var(--border-color), 2px);
}
