@import "variables";
@import "mixins";
@import "main";
@import "menu";
@import "game";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.switch-wrapper {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.switcher {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 50%;
  outline: none;
  border: none;
  img {
    display: flex;
    align-self: center;
    width: 80%;
    height: 80%;
    position: absolute;
  }

  &:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-color-hover);
    cursor: pointer;
  }
}
