* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* background-color:lightgrey; */
    color: #4c6969;
  }
  .wrapper {
    height: 800px;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .startButton {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid gray;
  }
  
  .startButton:hover {
    background: gray;
    color: whitesmoke;
  }
  
  .gameWrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
  
  .gameHeader {
    display: flex;
    color: #9a9a9a;
    font-size: 25px;
    flex-direction: row;
  }
  
  .gameHeader .playerX {
    flex: 1;
    border-bottom: 5px solid lightgray;
    padding-bottom: 5px;
  }
  
  .gameHeader .playerO {
    flex: 1;
    border-bottom: 5px solid lightgray;
    padding-bottom: 5px;
  }
  
  .playerX.active {
    color: red;
    border-color: red;
  }
  
  .playerO.active {
    color: green;
    border-color: green;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
    min-height: 500px;
  }
  
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
  }
  
  .tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(138, 164, 188, 0.5);
  }
  
  .tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(138, 164, 188, 0.5);
  }
  
  .tile:hover {
    background: #eee;
  }
  
  .tileX {
    color: red;
  }
  
  .tileO {
    color: green;
  }
  
  .tileWinner span {
    color: pink;
  }
  